# Python cache
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Program state
*.json

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
